[Desktop Entry]
Type=Application
Version=1.0
Name=Spotifast
GenericName=Music Player
Comment=A native Spotify client
Exec=spotifast %u
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=spotify;music;player;streaming;spotifast;fastpotify;
Icon=spotifast
StartupNotify=true
StartupWMClass=spotifast
MimeType=x-scheme-handler/spotify;
